#slider {
	background: url(../images/background.jpg);
	
}


#slider-overlay{
	width:100%;
	background: rgba (0,0,0, .7);
}


.item{
	padding: 200px 0;
	color:#ecf0f1;
}

.item h3
{
	font-size: 40px;
}
.item h2
{
	font-size: 100px;
	color: #e74c3c;
	margin: 0 auto;
	padding:10px;
}
.item h4
{
	font-size: 36px;
}
.item span {
	color: #2ecc71;
}

.carousel-indicators li {
	background: #fff;
	width:15px;
	height:15px;
	margin:2px;
	
}
.carousel-indicators .active{
	background: #e74c3c;
	border: 1px solid #e74c3c;
	width:15px;
	height:15px;
	margin:2px;
}


.btn-primary {
	background-color: #e74c3c;
	border-color:#e74c3c;
}