#slider {
	background: url(../images/background.jpg);
	
}

#slider-overlay{
	width:100%;
	background: rgba (0,0,0,.5);
}




.navbar-default{
	background-color:transparent;
	border-color:transparent;
	
}
.nav-tabs{
	border:none;
}


.item{
	padding: 256px 0;
	color:#e74c3c;
}

.item h3
{
	font-size: 40px;
}
.item h2
{
	font-size: 50px;
	color: #ecf0f1;
	margin: 0 auto;
	padding:10px;
}
.item h4
{
	font-size: 36px;
}
.item span {
	color: #2ecc71;
}

.carousel-indicators li {
	background: #fff;
	width:15px;
	height:15px;
	margin:2px;
	
}
.carousel-indicators .active{
	background: #e74c3c;
	border: 1px solid #e74c3c;
	width:15px;
	height:15px;
	margin:2px;
}


.btn-primary {
	background-color: #e74c3c;
	border-color:#e74c3c;
}

#login { 
 background: url(../images/background.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
#login1 { 
 background: url(../images/giphy.gif) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 
}
#login2 { 
 background: url(../images/morning.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

#login2_1 { 
 background: url(../images/output.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
#login3 { 
 background: url(../images/it.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

#login4 { 
 background: url(../images/market.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.panel-default {
 opacity: 0.8;
 margin-top:150px;
 background-color:transparent;
 border-color:transparent;
 
}
.panel-heading {
 background-color:#ecf0f1;
}
.panel-body {

 background-color:#ecf0f1;
}
.form-group.last {
 margin-bottom:0px;

}
#container-overlay{
	width:100%;
	background: rgba (0,0,0,.5);
}

.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

